<footer class="footer">
    <div class="container">
        Made with ❤ by SA.
    </div>
</footer>
<style>
    .footer {
    bottom: 0;
    position: fixed;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: dimgray;
    width: 100%;
}
body{
    padding-bottom: 50px;
}
</style>
</body>

</html>