<footer class="footer">
    <div class="container">
        <span class="text-muted" style="color : white;">Made with ❤ by SA.</span>
    </div>
</footer>
<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: dimgray;
    }
</style>
</body>

</html>