<!DOCTYPE html>
<html lang="en">

<head>
  <title>MyBlogs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <style>
    a {
      color: black;
    }

    a:hover {
      color: black;
      font-weight: bold;
    }

    span {
      color: black;
    }
  </style>

  <nav class="navbar" style="background-color: dimgray; ">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">MyBlogs</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#targetId">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="targetId">
        <ul class="nav navbar-nav">
          <li><a href="/" active>Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/compose">Compose</a></li>
        </ul>
      </div>

    </div>
  </nav>