<%- include('partials/header'); -%>
    <div class="container">
        <h1>
            <%= dynamicPost %>
        </h1>

        <p>
            <%= dynamicPostBody %>
        </p>
    </div>
    <%- include('partials/footer'); -%>